.example-spacer {
  flex: 1 1 auto;
}

#toolbar {
  margin-bottom: 0.75rem;
}

.mat-form-field {
  font-size: 13px;
}

.full-width {
  width: 100%;
}

.k-header .k-grid-draggable-header {
  cursor: move !important;
}

.placeholder {
  cursor: pointer;
}
