<mat-toolbar color="primary" id="toolbar">
	<mat-toolbar-row>
		<span>Financial Analysis Summary</span>
		<span class="example-spacer"></span>
		<mat-icon class="example-icon" aria-hidden="false" (click)="addStrategy()" matTooltip="Add New Strategy">add
		</mat-icon>
	</mat-toolbar-row>

	<mat-toolbar-row>
		<ng-container *ngFor="let strategy of strategies">
			<div *ngIf="strategy.columnName !== 'lineOfBusiness' && strategy.columnName !== 'expiringStrategy'"
				class="col-xs-6 col-md-4 example-col">

				<mat-checkbox id="{{strategy.columnName}}" [disabled]="isDisabled(strategy.columnName)"
					[checked]="!isHidden(strategy.columnName)" (change)="hideColumn(strategy.columnName)">
				</mat-checkbox>
				<label class="k-checkbox-label" for="{{strategy.columnName}}">{{strategy.title}}</label>

			</div>
		</ng-container>
	</mat-toolbar-row>
</mat-toolbar>

<kendo-grid [data]="gridData" [reorderable]="true" (cellClick)="cellClickHandler($event)">
	<kendo-grid-column field="lineOfBusiness" title="Quote Summary" width="200" [locked]="true">

	</kendo-grid-column>

	<!-- need to have at least one locked column -->
	<kendo-grid-column field="expiringPremium" title="Expiring" width="150" [locked]="false">
		<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
			{{dataItem.expiringPremium | currency}}
		</ng-template>
	</kendo-grid-column>

	<ng-container *ngFor="let strat of strategies">
		<ng-container *ngIf="strat.columnName !== 'lineOfBusiness' && strat.columnName !== 'expiringStrategy'">

			<kendo-grid-column-group [title]="strat.title" [locked]="false" *ngIf="!isHidden(strat.columnName)"
				width="350">

				<!-- header template -->
				<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
					<mat-toolbar>


						<mat-form-field class="example-full-width">
							<input matInput placeholder="Enter strategy name" [value]="column.title" class="full-width">
            </mat-form-field>

							<span class="example-spacer"></span>
							<button mat-icon-button matTooltip="Copy Strategy" (click)="copyStrategy(strat)">
              <mat-icon>content_copy</mat-icon>
            </button>
							<button mat-icon-button class="example-icon" matTooltip="Delete Strategy" (click)="deleteStrategy(strat)">
            <mat-icon>delete</mat-icon>
          </button>
					</mat-toolbar>


				</ng-template>

				<kendo-grid-column title="Quote" [locked]="false" width="150">

					<ng-template kendoGridCellTemplate let-dataItem="dataItem">
						<div class="placeholder">
							{{ (dataItem?.selectedQuote?.value | currency) || 'Select Quote' }}
						</div>
					</ng-template>
					<ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
						let-formGroup="formGroup">

						<mat-select [(value)]="selectedQuote">
							<mat-option value="654654">Aegis</mat-option>
							<mat-option value="45000">AIG</mat-option>
							<mat-option value="215000">Chubb</mat-option>
						</mat-select>


					</ng-template>

				</kendo-grid-column>
				<kendo-grid-column title="Premium" [locked]="false" width="150">
					<ng-template kendoGridCellTemplate let-dataItem="dataItem">
						{{dataItem?.quotes[0]?.grossPremium?.value | currency}}
					</ng-template>
				</kendo-grid-column>
				<kendo-grid-column title="Difference" [locked]="false" width="150">
					<ng-template kendoGridCellTemplate let-dataItem="dataItem">

						<ng-container *ngIf="dataItem.difference">
							{{dataItem.difference.value | currency}}
							<span>({{dataItem.difference.percentageValue | percent : '1.2-2'}})</span>
						</ng-container>
					</ng-template>
				</kendo-grid-column>
			</kendo-grid-column-group>

		</ng-container>
	</ng-container>

</kendo-grid>