.example-spacer {
  flex: 1 1 auto;
}

#toolbar {
  margin-bottom: 0.75rem;
}

.mat-form-field {
  font-size: 13px;
}

.full-width {
  width: 100%;
}

.k-header .k-grid-draggable-header {
  cursor: move !important;
}

.placeholder {
  cursor: pointer;
}

.k-grid tr.odd {
  background-color: #f5f5f5;
}

.k-grid tr.even {
  background-color: #fff;
}

.k-grid-header, .k-grid-toolbar, .k-grouping-header, .k-grid-add-row, .k-grid-footer {
    color: #656565;
    background-color: #f6f6f6;    
}

.mat-toolbar.mat-primary {
    background: #e4e4e4;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #555;
}

.k-checkbox:checked {
    border-color: #702082 !important;
    background-color: #702082 !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto !important;
}